@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.group-title{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 2px black;
    margin-bottom: 20px;
}