@import '../../../styles/mixins';

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 75px;
    border-radius: 3px;
    @include media-breakpoint-down(xs){
        padding: 10px 20px;
    }
    
    &__title{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        @include media-breakpoint-down(xs){
            font-size: 26px;
        }

        &-border{
            border-bottom: 1px solid #222222;
            width: 100%;
            padding-bottom: 1rem;
            color: #ccbc06;
            text-shadow: 0 0 5px black;
        }
    }
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;

    &-border{
        border-bottom: 1px solid #222222;
    }

    &__firstPublic{
        color: #fff;
        margin-bottom: 27px;
        margin-top: 15px;
        @include media-breakpoint-down(xs){
            font-size: 19px;
        }
    }

    &__authorFirstName{
        color: #fff;
        padding: 10px;
        &-border{
            border-bottom: 1px solid #222222;
            padding-bottom: 20px;
        }
        @include media-breakpoint-down(xs){
            font-size: 19px;
        }
    }
}